/* @import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-amiri: "Amiri", serif;
  /* --color-initial-glow: #ff005e; */
  /* --color-after-glow: #00d4ff; */
  --color-orange-glass: hsla(64, 86%, 79%, 1);
  /* --color-initial-glow: hsl(64, 86%, 49%); */
  --color-initial-glow: hsla(64, 86%, 49%, 1);
  /* --color-after-glow: hsl(64, 86%, 49%); */
  --color-after-glow: hsla(64, 86%, 55%, 1);
}

@utility neon-glow {
  text-shadow: 0 0 5px var(--color-initial-glow),
    0 0 10px var(--color-initial-glow), 0 0 20px var(--color-initial-glow),
    0 0 40px var(--color-initial-glow), 0 0 80px var(--color-initial-glow);
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px var(--color-initial-glow),
      0 0 10px var(--color-initial-glow), 0 0 20px var(--color-initial-glow),
      0 0 40px var(--color-initial-glow), 0 0 80px var(--color-initial-glow);
  }
  100% {
    text-shadow: 0 0 10px var(--color-after-glow),
      0 0 20px var(--color-after-glow), 0 0 40px var(--color-after-glow),
      0 0 80px var(--color-after-glow), 0 0 160px var(--color-after-glow);
  }
}

@utility image-neon-color {
  filter: brightness(0) saturate(100%) invert(95%) sepia(13%) saturate(1345%)
    hue-rotate(24deg) brightness(104%) contrast(93%);
}

@utility image-neon-glow {
  filter: brightness(0) saturate(100%) invert(95%) sepia(13%) saturate(1345%)
    hue-rotate(24deg) brightness(104%) contrast(93%)
    drop-shadow(0 0 2px var(--color-initial-glow))
    drop-shadow(0 0 5px var(--color-initial-glow))
    drop-shadow(0 0 10px var(--color-initial-glow));
  animation: image-glow 1s infinite alternate;
}

@keyframes image-glow {
  0% {
    filter: brightness(0) saturate(100%) invert(95%) sepia(13%) saturate(1345%)
      hue-rotate(24deg) brightness(104%) contrast(93%)
      drop-shadow(0 0 2px var(--color-initial-glow))
      drop-shadow(0 0 6px var(--color-initial-glow));
  }
  100% {
    filter: brightness(0) saturate(100%) invert(95%) sepia(13%) saturate(1345%)
      hue-rotate(24deg) brightness(104%) contrast(93%)
      drop-shadow(0 0 3px var(--color-after-glow))
      drop-shadow(0 0 7px var(--color-after-glow));
  }
}

/* @keyframes image-glow {
  0% {
    filter: drop-shadow(0 0 5px var(--color-initial-glow))
      drop-shadow(0 0 10px var(--color-initial-glow))
      drop-shadow(0 0 20px var(--color-initial-glow))
      drop-shadow(0 0 40px var(--color-initial-glow));
  }
  100% {
    filter: drop-shadow(0 0 10px var(--color-after-glow))
      drop-shadow(0 0 20px var(--color-after-glow))
      drop-shadow(0 0 40px var(--color-after-glow))
      drop-shadow(0 0 80px var(--color-after-glow));
  }
} */

/* @keyframes glow {
  0% {
    text-shadow: 0 0 5px var(--color-initial-glow),
      0 0 10px var(--color-initial-glow), 0 0 20px var(--color-initial-glow),
      0 0 40px var(--color-initial-glow), 0 0 80px var(--color-initial-glow);
  }
  100% {
    text-shadow: 0 0 10px var(--color-after-glow),
      0 0 20px var(--color-after-glow), 0 0 40px var(--color-after-glow),
      0 0 80px var(--color-after-glow), 0 0 160px var(--color-after-glow);
  }
} */

@utility nav-petal {
  width: 40px; /* control size */
  aspect-ratio: 2.28 / 4.225; /* keeps proportions */
  background: red;
  clip-path: path(
    "M 99 72 Q 95 91 50 91 Q 5 91 1 72 Q -7 44 30 0 Q 50 -10 70 0 Q 107 44 99 72 Z"
  );
}

@utility nav-ring {
  width: 190px;
  height: 190px;
  border: 14px solid #1abc9c;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), inset 0 4px 8px rgba(0, 0, 0, 0.1);
}
